* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Cutive Mono', monospace;
}

.main {
	width: 726px;
	margin: 50px auto;

	padding: 15px 0;

	border-left: 3px solid black;
	border-right: 3px solid black;

	display: grid;
	grid-template-rows: 40px 10px 280px auto;
	column-gap: 10px;
	justify-items: center;
}

a {
	color: black;
}

#logo {
	width: 210px;
	justify-self: left;
	margin-left: 10px;
}

.nav {
	margin-left: 15px;
	font-size: 12px;
	justify-self: left;
}

.comic {
	align-self: center;
	justify-self: center;

	width: 720px;
}

.nav_comic {
	font-size: 10px;
	display: flex;
	width: 720px;
	justify-content: space-between;
	padding-bottom: 20px;
}

.nav_btn {
	width: 100px;
	text-align: center;
}

.texts {
	font-size: 12px;
	display: grid;
	grid-template-columns: auto auto;
}

.bio {
	padding: 10px;
}

@media only screen and (max-width: 900px) {
	.main {
		width: auto;
		padding: 20px 0;
		display: block;
	}

	#logo {
		width: auto;
	}

	.nav {
		font-size: 14px;
	}

	.comic_frame {
		white-space: nowrap;
		overflow-x: scroll;
		text-align: left;
	}

	::-webkit-scrollbar {
		display: none;
	}

	.comic {
		width: 1080px;
	}

	.nav_comic {
		font-size: 16px;
		display: flex;
		width: auto;
		justify-content: space-between;
		padding-bottom: 20px;
	}

	.texts {
		font-size: 14px;
		padding: 20px;
		display: block;
	}
}
